<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equisv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Beat</title>
    <link rel="stylesheet" href="/static/assets/css/style.css">
</head>
<body>
    <header class="bar">
        <img class="logo" src="/static/images/logo.svg" alt="logo">
        <nav>
            <ul class="nav_links">
                <li><a href="/">HOME</a></li>
                <li><a href="/cards">CARDS</a></li>
                <li><a href="/donationplea">RECEPIENT</a></li>
                <li><a href="/donate">DONATE US</a></li>
                <li><a href="/">DATABASE</a></li>
            </ul>
        </nav>
            <a class="cta" href="#"><button>Sign-in</button></a>
    </header>

{% block body %}{% endblock %}
</body>
</html>