{% extends 'base.html' %}
{% block body %}
        <div class="cards">
            <div class="card">
                <img src="/static/images/lung.jpg" alt="" class="card_img">
                <div class="card_content">
                    <h2>Lung Donation</h2>
                    <p>Click the button to check and select the pleas.</p>
                </div>
                <div class="card_info">
                    <div class="info">
                        <button class="visit-btn"><a class="visit" href="/pleas">Visit</a></button>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="/static/images/eye.jpg" alt="" class="card_img">
                <div class="card_content">
                    <h2>Cornea Donation</h2>
                    <p>Click the button to check and select the pleas.</p>
                </div>
                <div class="card_info">
                    <div class="info">
                        <button class="visit-btn"><a class="visit" href="/pleas">Visit</a></button>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="/static/images/blood.jpg" alt="" class="card_img">
                <div class="card_content">
                    <h2>Blood Donation</h2>
                    <p>Click the button to check and select the pleas.</p>
                </div>
                <div class="card_info">
                    <div class="info">
                        <button class="visit-btn"><a class="visit" href="/pleas">Visit</a></button>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="/static/images/liver.jpg" alt="" class="card_img">
                <div class="card_content">
                    <h2>Liver Donation</h2>
                    <p>Click the button to check and select the pleas.</p>
                </div>
                <div class="card_info">
                    <div class="info">
                        <button class="visit-btn"><a class="visit" href="/pleas">Visit</a></button>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="/static/images/heart.jpg" alt="" class="card_img">
                <div class="card_content">
                    <h2>Heart Donation</h2>
                    <p>Click the button to check and select the pleas.</p>
                </div>
                <div class="card_info">
                    <div class="info">
                        <button class="visit-btn"><a class="visit" href="/pleas">Visit</a></button>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="/static/images/kidney.jpg" alt="" class="card_img">
                <div class="card_content">
                    <h2>Kidney Donation</h2>
                    <p>Click the button to check and select the pleas.</p>
                </div>
                <div class="card_info">
                    <div class="info">
                        <button class="visit-btn"><a class="visit" href="/pleas">Visit</a></button>
                    </div>
                </div>
            </div>
            
        </div>
{% endblock  %}