<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equisv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Beat</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="bar">
        <img class="logo" src="images/logo.svg" alt="logo">
        <nav>
            <ul class="nav_links">
                <li><a href="home.html">HOME</a></li>
                <li><a href="cards.html">CARDS</a></li>
                <li><a href="recepient.html">RECEPIENT</a></li>
                <li><a href="donate.html">DONATE US</a></li>
                <li><a href="database.html">DATABASE</a></li>
            </ul>
        </nav>
            <a class="cta" href="#"><button>Sign-in</button></a>
    </header>
    <div>
        <img class="illustration" src="images/illustration3.svg" alt="">
        <h1 class="heading">
            In dire need? <br> We got your back
        </h1>
        <p class="para">check our database to find your avaialability.It keeps getting updated on a regular basis. We hope we could be helpful to you.</p>
    </div>
    <button class="btn">
        Check Database
    </button>
</body>
</html>